body, #wrapper, article.entry {
    background: none transparent;
}
#wpadminbar {
    display: none;
}
html {
    margin-top: 0px !important;
}
#wrapper {
    margin-top: 0px;
}
.content-container {
    padding: 0 0 0 0;
}
 